<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>522628035280-u8ial0uqvp1al2ogkf4jf1cg7o85lc3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.522628035280-u8ial0uqvp1al2ogkf4jf1cg7o85lc3h</string>
	<key>API_KEY</key>
	<string>AIzaSyBu9Ap6j-OH4lzhLw2o80v5wAlNzaXTXXs</string>
	<key>GCM_SENDER_ID</key>
	<string>522628035280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsApp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-d3e95</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-d3e95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:522628035280:ios:c2727fc237a42b815ca4d5</string>
</dict>
</plist>